<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testing2">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- Features -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/yenveez_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/yenveez_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing2"
        tools:ignore="AllowBackup">
        <activity android:name=".Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Offer3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Offer2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Offer1"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Offers"
            android:label="YenVeez Offers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenLauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.testing2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".BeaconMonitoringService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            tools:ignore="ExportedService" />
    </application>

</manifest>